name: Build and Deploy
on:
  push:
    branches:
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      REACT_APP_API_URL: ${{ secrets.REMOTE_SERVER_API_URL }} 
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '18.17.0'
          
      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Build
        run: CI=false npm run build

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.REMOTE_SERVER_PRIVATE_SSH_KEY }}
      
      - name: Add server to known hosts
        run: ssh-keyscan ${{ secrets.REMOTE_SERVER_IP_ADDRESS }} >> ~/.ssh/known_hosts
      
      - name: Deploy to server
        run: rsync -r --delete-after --quiet ${{ github.workspace }}/build ${{ secrets.REMOTE_SERVER_USERNAME }}@${{ secrets.REMOTE_SERVER_IP_ADDRESS }}:/var/www/kaskad-reality/frontend
